<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kmap.kmp.dao.MapMapper">
   <select id="selector" resultType="String">
      SELECT ST_MakePoint(-71.1043443253471, 42.3150676015829)::character varying
   </select>
</mapper>